
{% extends 'base.html' %}
{% block title %}Result{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <b>Original image</b>
                <br>
                <small class="text-muted">Upload stage</small>
                <br>
                <br>
                <img src="{{ url_for('view_file', filename=original_path) }}" alt="Uploaded Image"  class="img-fluid" style="width: 100%;">
                <br>
                <br>
                <a href="{{ url_for('upload_file') }}"><button class="btn btn-primary btn-lg">Upload another image</button></a>
            </div>

            <div class="col-md-5", style="display: grid;">
                <b>Extracted plate </b> 
                <small class="text-muted">YOLO stage</small>
                <br>
                <img src="{{ url_for('view_file', filename=plate_path) }}" alt="Uploaded Image"  class="img-fluid" style="width: 100%;">
                <br>

                <b>Segmented characters </b> <small class="text-muted">OpenCV preprocessing stage</small>
                <br>
                <img src="{{ url_for('view_file', filename=seg_path) }}" alt="Uploaded Image"  class="img-fluid" style="width: 100%;">
                <br>

                <b>Characters detected</b> <small class="text-muted">OpenCV contour detection stage</small>
                <br>
                <img src="{{ url_for('view_file', filename=cntr_path) }}" alt="Uploaded Image"  class="img-fluid" style="width: 100%;">
                <br>

                <b>Characters recognised </b> <small class="text-muted">CNN stage</small>
                <p class="display-3">{{ plate_text }}</p>
            </div>
        </div>
    </div>
{% endblock %}
